@keyframes rotationBadge {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes goTop {
  from {
    bottom: 85px;
    opacity: 1;
  }

  to {
    bottom: calc(100vh - 100px);
    opacity: 0;
  }
}