.dark {
  body {
    color: #bebebe;

    h1,
    h2,
    h3 {
      color: #ffffff !important;
    }

    section.section,
    .sidenav {
      background-color: #232323 !important;
    }

    section.section {
      span {
        &.location {
          color: #6e8eae !important;
        }
      }
    }

    .sidenav {
      span.subheader {
        color: rgba(255, 255, 255, 0.54);
      }

      li>a {
        color: rgba(255, 255, 255, 0.87);

        &>i[class*="fa-"],
        &>span[class*="fa-"] {
          color: rgba(255, 255, 255, 0.54);
        }
      }
    }

    .side-buttons {
      a {
        &.lamp {
          background-color: #1c1c1c;
          color: #6e8eae;
        }
      }
    }

    .divider {
      background-color: #1c1c1c !important;
    }
  }
}