section.section {
  align-items: center;
  background-color: white;
  display: flex;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;

  .content {
    &:not(:last-child) {
      margin-bottom: 50px;
    }

    ul.dev-icons {
      li {
        display: inline-block;
        margin-right: 14px;
        margin-bottom: 18px;

        i[class*="fa-"],
        span[class*="fa-"] {
          font-size: 45px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  section.section {
    .content {
      ul.dev-icons {
        li {
          margin-bottom: 0;
        }
      }
    }
  }
}