.side-buttons {
  bottom: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 18px;
  width: 50px;

  a {
    text-align: center;

    &.lamp {
      background-color: #f8f8f8;
      border-radius: 50%;
      color: #ffd200;
      cursor: pointer;
      font-size: 25px;
      padding: 6px 0;
    }

    &.button-rocket {
      bottom: 85px;
      cursor: default;
      position: fixed;
      opacity: 0;
      transition: 1s opacity;
    
      &.visible {
        cursor: pointer;
        opacity: 1;
      }
    
      &.toInfinityAndBeyond {
        animation: goTop .8s;
        animation-fill-mode: forwards;
      }
    
      img {
        width: 50px;
      }
    }
  }

}