@import "_fonts";
@import "_header";
@import "_begin";
@import "_animations";
@import "_sections";
@import "_buttonRocket";

html,
body {
  height: 100%;
  width: 100%;
}

main,
footer {
  padding-left: 0px;
}

@media (min-width: 992px) {
  $largeSideNavDesktop: 240px;

  main>section,
  footer {
    padding-left: $largeSideNavDesktop;
  }

  .sidenav {
    border-top-right-radius: 15px;
    width: $largeSideNavDesktop;

    span.subheader {
      padding: 0 32px;
    }
  
    li>a {
  
      &>i[class*="fa-"],
      &>span[class*="fa-"] {
        color: rgba(0, 0, 0, 0.54);
        float: left;
        font-size: 20px;
        height: 48px;
        line-height: 48px;
        margin: 0 32px 0 0;
        width: 24px;
      }
    }

    .user-view {
      text-align: center;

      .user-badge {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: rotationBadge;
        left: 14px;
        position: absolute;
        top: 20px;
        transition: 1s transform;
        width: 80px;
      }

      .circle {
        border: 8px solid #1976D2;
        height: 176px;
        width: 176px;
        box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.25);
      }
    }
  }
}