header > nav {
  position: absolute; }
  header > nav .sidenav-trigger {
    background-color: rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    header > nav .sidenav-trigger i.fas {
      padding: 0 15px; }
